*,
::before,
::after{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primario : #021526;
    --color-texto-claro: #ECFFE6;
    --color-texto-gray: rgb(59, 59, 59);
    --color-background: #2E073F;
    /* --color-btns: #004aad; */
    --color-btns: #ff076f;
    --color-titulos: #004aad;
    --color-border: rgb(35, 184, 6);
    --padding-container : 50px 0px:
    
}
body{
   
}

.container{
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    
}

/* Navbar */
.nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    --nav-icon-background : url("/assets/menu.svg");
    --transform-list-menu: translate(-100%);
    
}

#logo-black{
    display: none;
    
}

.nav:has(.nav_check:checked){
    --nav-icon-background : url("/assets/cerrar.svg");
    --transform-list-menu: translate(0);
    #logo-withe{
        display: none;
    }
    #logo-black{
        display: block;
    }
    
}

.nav_check{
    display: none;
}

.nav_label{
    width: 36px;
    height: 36px;
    background-image: var(--nav-icon-background);
    background-size: cover;
    cursor: pointer;
    transition: background-image .4s ease-in-out;
    
}


/* anclas del nav */
.nav__list{
    position: absolute;
    inset: 0;
    display: grid;
    padding: 0;
    place-content: center;
    text-align: center;
    list-style: none;
    gap: 1rem;
    transform: var(--transform-list-menu);
    transition: .5s;
    background-color: #0a010e;
    z-index: 1;
    /* background-color: rgb(19, 2, 19); */
}

.nav_link{
    text-decoration: none;
    display: inline-block;
    padding: .8rem .5rem;
    color: var(--color-titulos);
    font-size: 1.2rem;
}

.nav_link:hover
 {
    text-decoration: underline var(--color-border);
   
}

.cont-logo, .nav_label{
    z-index: 100;
    
}

.--contacto{
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: .5rem 1.5rem;
    text-decoration: none;
    
}

.--contacto:hover{
    border-color: var(--color-btns);
    text-decoration: none;
    transition: .3s ease;
}

/* section uno ----------------------- */

.section-uno{
    padding: 40px 0px 30px 0px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* animation: anime-section1 1s; */
    /* border:  1px solid gray; */
    
}

.section-uno #img-pc{
    display: none;
    animation: aparecer 1.5s;
}

.section1-text{
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-titulos);

}
.img-sectionUno{
    width: min(100%, 300px);
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 15px;
    animation: aparecer 1.5s;
    
    
}

.parrafo-sectionUno{
    font-size: 1.2rem;
    line-height: 2;
    text-align: justify;
    color: var(--color-texto-gray);
    animation: anime-section1 1s;
    
}
.parrafo-sectionUno span{
    color: rgb(80, 78, 78);
}
.parrafo-sectionUno a{
    color: var(--color-titulos);
}

.--ancla{
    background-color: var(--color-titulos);
    color: var(--color-texto-claro);
    padding: 1rem 0;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 30px 0px 10px 0px;
    transition: .3s ease-in-out;
    display: none;

}

.--ancla:hover{
    background-color: var(--color-btns);
}

/* SECTION2 SLIDER ---------------------*/
/* .section2-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 30px 0px;
    border: 1px solid red;
    padding: 10px;
} */
.section2-icons{
    display: flex;
    overflow: hidden;
}
.section2-icons img{
    margin: 0px 50px;
    animation: rotar 30s linear infinite ;
    transition: .3s ease-in-out;
   
}

/* SECTION2 MAIN ------------------------  */
.wave1{
    /* background-color: var(--color-primario); */
    transition: .3s ease;
}
.wave1 #img-white{
    display: none;
    transition: .3s ease;
}

.section-main{
    margin-bottom: 100px;
    text-align: center;
    
}

.title-proyectos{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--color-titulos);
    margin: 0px 0px 50px 0px;
    font-size: 1.6rem;
    display: inline-block;
    
}
.main-cards{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-cards a{
    margin: 0 auto;
    width: 95%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-img{
    width: 100%;
    overflow: hidden;
    /* margin: 10px 0px; */
    text-align: center;
    border-radius: 15px;
}
.cards-img img{
    width: 100%;
    transition: .2s ease-in-out;
    border-radius: 10px;
    
}
.cards-img img:hover{
    transform: scale(1.2);
}

/* SECTION DE CONTACTO -----------*/
.section-contacto{
    margin-top: -10px;
    background-color: #1253b6;
    padding: 200px 0px 50px 0px;
}

footer{
    background-color: #1253b6;
}


@media (width >= 768px){

    .nav__list{
        background-color: transparent;
        
    }
    .nav_link{
        color: #004aad;
        font-weight: 450;
        font-size: 1rem;
    }
    .section1-text{
        margin-bottom: 40px;
    }
    .--contacto{
        border-color: var(--color-btns);
    }
    .--contacto:hover{
        border-color: var(--color-btns);
        text-decoration: none;
        
    }
    .nav_link:hover{
       text-decoration: none;
       color: var(--color-btns);
       transition: .2s all ;
    }

    /* SECTOON UNO */

    .section-uno{
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: space-between;
    }

    .cont-section-uno{
        width: 60%;
        margin-right: 20px;
        padding: 40px 0px 0px 0px;
    }
    .section1-text{
        text-align: start;
        margin-bottom: 15px;
    }
    #img-cel{
        display: none;
    }
    .section-uno #img-pc{
        display: block;
        /* border: 1px solid ; */
        width: 35%;
    }
    .parrafo-sectionUno{
        font-size: 1.2rem;
        line-height: 2;
        text-align: justify;
        color: var(--color-texto-gray);
        /* border: 1px solid greenyellow; */
        margin-top: 0px;
        
    }
    .--ancla{
        display: inline-block;
        padding: 10px 40px;
        display: inline-block;
        margin: 40px 0px 0px 0px;
        
    }

    /* SECTION MAIN -----------------*/
    .section-main{
        
    }
    
    .title-proyectos{
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: var(--color-texto-claro);
        margin: -50px 0px 90px 0px;
        font-size: 1.8rem;
        display: inline-block;
        
    }
    .main-cards{
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .main-cards a{
        width: 95%;
        margin: 0px 10px;
        
    }
    
    /* SECTION2 IMG SLIDER ---------------*/
    .section2-icons img{
        margin: 0px 50px;
        animation: rotar 50s linear infinite ;
       
    }
    
    .wave1{
        background-color: var(--color-primario);
    }
    #img-azul{
        display: none;
    }
    .wave1 #img-white{
        display: flex;
    }
    #wave-bootom{
        display: none;
    }

    .section-contacto, footer{
        background-color: var(--color-primario);
        color: var(--color-texto-claro);
    }
    
    

}

@media (width >= 900px){

    .nav{
        --transform-list-menu: translate(0%);
    }

    .nav_label{
        display: none;
    }
    .nav__list{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        gap: 1rem;
        
    }

    
}

/* ANIMACION PARA EL BODY */

@keyframes anime-section1{
    0%{
        
        transform: scale(0);
        opacity: 0;
    }
    100%{
        
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes aparecer{
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* SLIDER ROTAR -------------------- */
@keyframes rotar{
    0%{
        transform: translateX(1040px);
    }
    
    50%{
        transform: translateX(-640px);
    }
    100%{
        transform: translateX(1040px);
    }
    
}

/* ANIMATION PARA LAS IMAGENES O SECTIONS--- */
@keyframes show{
    from {
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

img, .wave1{   
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 15% cover 25%;
    animation-fill-mode: both; /*hacia adelante y hacia atras */
}